<div class="container">
      <div class="row" style="margin-top: 50px">
        <main class="col-md-12">
          <h1>Welcome to Student Name!</h1>
          <h2>About me</h2>
          <p>
            Hello, I am a student of Database Application Developer course at
            Seneca for the winter 2022 term. I am currently enrolled at the
            college's Newnham campus in Toronto. Here are my details:
            <br />
            Name: Robin Joseph<br />
            Id: 126899210<br />
            Progam: Database Application Developer(DAD)<br />
          </p>
        </main>
      </div>
    </div>
